.main-content {
    background: #c0c0aa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c0c0aa, #1ce); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c0c0aa, #1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.analysis-section {
    min-height: 400px;
}

#map {
    position: absolute;
    height: 80%;
    width: 30%;
    top: 15%;
}

h5 {
    display: inline-block;
}

.result-box {
    padding: 10px 10px;
    border: 1px solid #fff;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
}