<div>
    <ul id="slide-out" class="side-nav">
        <li><div class="userView">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" class="button-collapse" data-activates="slide-out" data-sidenav="left" data-menuwidth="400" data-closeonclick="false">
        Show side-nav
    </a>

    <div class="section no-pad-bot" id="index-banner">
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col s12 m12">-->
                    <!--<div class="card blue-grey darken-1">-->
                        <!--<div class="card-content white-text">-->
                            <!--<span class="card-title">Summary</span>-->
                            <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                                <!--I am convenient because I require little markup to use effectively.</p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="#">This is a link</a>-->
                            <!--<a href="#">This is a link</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card blue-grey darken-1">
                        <ul id="tabs-swipe-demo" class="tabs blue-grey">
                            <li class="tab col s4"><a ng-click="clickTab(1)" class="active" href="#test-swipe-2">Match by Match Analysis</a></li>
                            <li class="tab col s4"><a ng-click="clickTab(2)">Points Table</a></li>
                            <li class="tab col s4"><a ng-click="clickTab(3)">Test 3</a></li>
                        </ul>
                        <div class="card-content white-text" ng-show="index==1">
                            <div class="row">
                                <div input-field class="col m4">
                                    <select ng-model="dataObj.selected_season" ng-change="calculatePoints(dataObj.selected_season)" material-select watch>
                                        <option ng-repeat="season in seasonArray">{{season}}</option>
                                    </select>
                                    <label>Select Season</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th>Matches</th>
                                            <th>Won</th>
                                            <th>Lost</th>
                                            <th>Tied</th>
                                            <th>Points</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="(key, value) in winnerInfo">
                                                <td>{{key}}</td>
                                                <td>{{value.total_matches}}</td>
                                                <td>{{value.win}}</td>
                                                <td>{{value.lost}}</td>
                                                <td>0</td>
                                                <td>{{value.points}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="card-content white-text analysis-section" ng-show="index==2">
                            <div class="row">
                                <div input-field class="col m2">
                                    <select ng-model="dataObj.selected_season" material-select watch>
                                        <option ng-repeat="season in seasonArray">{{season}}</option>
                                    </select>
                                    <label>Select Season</label>
                                </div>
                                <div input-field class="col m4 push-m1">
                                    <input type="text" ng-model="dataObj.search_match" length="150">
                                    <label>Search match</label>
                                </div>
                            </div>
                            <div style="min-height: 400px;max-height: 400px;overflow: auto;">
                                <div class="row">
                                    <div class="col m8">
                                       <div class="result-list">
                                           <div ng-repeat="data in seasonSortedInfo[dataObj.selected_season] | filter: dataObj.search_match">
                                               <div class="result-box" ng-click="getLocationOnMap($index)">
                                                   <p>
                                                       <h5>{{data.team1}}</h5>&nbsp;&nbsp;<span>Vs</span>&nbsp;&nbsp;<h5>{{data.team2}}</h5>
                                                   </p>
                                                   <p>Date: {{data.date | date: 'dd/MM/yyyy'}}</p>
                                                   <p>Venue: {{data.venue}}, <span ng-init="selected_city=data.city">{{data.city}}</span></p>
                                                   <p>Toss: {{data.toss_winner}} won the toss and chose to {{data.toss_decision}} first</p>
                                                   <p>Result: {{data.winner}} won by
                                                       <span ng-if="data.win_by_runs>0">{{data.win_by_runs}} runs</span>
                                                       <span ng-if="data.win_by_wickets>0">{{data.win_by_wickets}} wickets</span>
                                                   </p>
                                                   <p>Player of the match: {{data.player_of_match}}</p>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col m4">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br><br>

        <div class="section">

        </div>

</div>
<script>
    function initMap() {

        // document.getElementById('submit').addEventListener('click', function() {
        //     geocodeAddress(geocoder, map);
        // });
    }
    initMap();
</script>